<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
		<listener class-name="com.qa.RetryAnalyzer.AnnotationTransformer" />
	</listeners>

	<test name="Sample Tests">

		<classes>
			<class name="com.qa.testcases.TestCase_1" />
			<class name="com.qa.testcases.TestCase_2"/>
		</classes>
	</test>

</suite>